
  html {

     height: 100%;
   }
  body {
      width: 800px;
      /*background-color:white;*/
      color:black;
      margin: 0 auto;
      padding-top: 0px;
      height: 100%;
   }
  header {
       background-color:blue;
       color:white;
       text-align:center;
       padding:5px;
       font-size: 20px;
       display: block;
       width: 790px;
   }
  nav {
       line-height:30px;
       background-color:purple;
       color:white;
       min-height:100%;
       width:125px;
       height: 150px;
       display: inline-block;
       vertical-align: top;
       padding:5px;
       font-size: 18px;
   }
  nav ul {
       list-style-type: none;
   }
  a {
       color: red;
   }
  section {
       width: 150px;
       /*background-color:green;*/
       color:green;
       display: inline-block;
   }

  footer {
       width: 790px;
       background-color:black;
       color:white;
       text-align:center;
       padding:5px;
       display: block;
   }
